/*
Font-sizes in em/rem
Element width in % of vw
left, right margin en padding %
flexbox
*/

/* ---- FONTS ---- */
/* 
font-family:;
font-family:;
font-family:;
*/

/* ---- COLORS ---- */
/* 
color:;
color:;
color:;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

body{
    background: url(img/new_york_sunset_sm.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
}

@media (max-width: 325px) {
    body{
        background: url(img/new_york_sunset_sm.jpg) no-repeat center center;  
    }
}