body {
    background-color: rgb(197, 195, 195);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3%;
    padding-top: 3%;
}

header nav li {
    display: inline-block;
}

header i{
    font-size: 2Rem;
    margin-right: 0%;

}

header{
    background-color: rgb(70, 58, 58);
    
}


*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: ;
}

.videoframe {
    overflow: hidden;
    margin-bottom: 3rem;
    max-height: 50vh;
}

.videoframe {
    width: 100%;
}
.img{
    width: auto;
}