* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-container menu{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
}

header {
    background-color: rgb(212, 206, 206);
}

header img {
    width: 60px;
}


i {
    font-size: 20px;
    color: rgb(0, 0, 0);
    
}

nav li {
    display: inline-block;
    padding: 2px;
    font-size: small;
   
}

nav li a {
    text-decoration: none;
    color: #ffffff;
   
}

nav a:hover {
    text-underline-offset: 5px;
    text-decoration:underline
    
}


body {
    background-color: rgb(207, 206, 206);
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.top {
    background-color: rgb(209, 169, 109);
    padding: 1rem;
    justify-content: flex-start;
}

.taakbalk {
    padding: 1rem;
}

.menu {
    padding: 1rem;
    background-color: rgb(23, 51, 78);
    justify-content: center;
}


#like:hover {
    color: red;
}

#tas:hover{
    color: red;
}

#zoekbalk {
    border: 0px rgb(177, 98, 98);
    border-radius: 8px;
    height: 22px;
    width: 50%;
    padding: 5px;
    background-color: #e1e0e0;
    
}
.puma{
    width: 100%;
    transform: translateY(-16%);
    border-radius: 5;
    padding-top: 7%;
    
}
main img {
    width: 100%;
    
    padding-top: 3%;
}




p {
  text-align: center;
  background-color: rgb(2, 2, 2);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(235, 233, 233);
  

  
}
.featured-products{
    font-size: larger;
    margin-left: 2%;
}
.picture-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    margin-left:  2%;
    margin-right: 2%;
}

.product {
	flex-basis: calc(33.33% - 20px);
	margin-bottom: 20px;
}



.product h3 {
	font-size: 16px;
	margin: 10px 0;
    text-align: center;
}
.product img {
	max-width: 100%;
}

footer{
    background-color: rgb(255, 255, 255);
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    padding: 5%;
    padding-top: 0px;
}
.product p {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}
#social-icons a:hover{
  color: #dfdede; 

}


footer ul p:first-child:hover{
    background-color: rgb(97, 86, 86);

}

footer ul p:first-child{
    font-size: 22px;
    color: rgb(146, 146, 146);
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: rgb(37, 35, 35);
    text-align: center;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    text-decoration: underline;
    margin-top:  10%;
    
}

.footer-container{
    background-color: rgb(0, 0, 0);
}

.flex-container-icons a {
  border: #523737;
  margin: 0 10px;
  font-size: 24px;
  color: #523737;
  text-decoration: none;
  margin-left: 24%;
  
}



  