body {
    background-color: rgb(197, 195, 195);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3%;
    padding-top: 3%;
}

header nav li {
    display: inline-block;
}

header i{
    font-size: 2Rem;
    margin-right: 0%;
  
}

header{
    background-color: rgb(32, 31, 31);
}


*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}